  .sign-up {
    background-color: #08342b;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
  }
  
  .sign-up .overlap-group-wrapper {
    background-color: #08342b;
    height: 1024px;
    width: 1440px;
  }
  
  .sign-up .overlap-group {
    background-color: #ffffff;
    height: 545px;
    left: 296px;
    position: relative;
    top: 245px;
    width: 849px;
  }
  .sign-up .text-wrapper {
    color: #000000;
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 40px;
    font-weight: 600;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 100px;
    white-space: nowrap;
    width: 147px;
  }
  
  .sign-up .div {
    color: #0f0f0f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 150px;
    white-space: nowrap;
    width: 223px;
  }
  .sign-up .div-2 {
    color: #0f0f0f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    left: 75px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    bottom: 30px;
    white-space: nowrap;
    width: 223px;
  }
  .sign-up .div-4 {
    color: #0f0f0f;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    bottom: 29px;
    left: 165px;
    white-space: nowrap;
    width: 223px;
  }
  .sign-up .text-wrapper-2 {
    color: #585858;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 90px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 180px;
    white-space: nowrap;
    width: 62px;
  }
  
  .sign-up .text-wrapper-3 {
    color: #585858;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 245px;
    white-space: nowrap;
    width: 58px;
  }
  .checkbox-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 322px; /* Adjust to match your layout */
    left: 92px; /* Adjust to match your layout */
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .container input {
    margin-right: 6px; /* Space between checkbox and label */
  }
  .sign-up .text-wrapper-4 {
    color: #585858;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
  }
  .text-wrapper-5.active, .text-wrapper-6.active {
    font-weight: bold;
    color: #000;
  }
    .sign-up .text-wrapper-6 {
      color: #585858;
      font-family: "Poppins-Regular", Helvetica;
      font-size: 13px;
      font-weight: 400;
      left: 79px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      text-align: center;
      top: 245px;
      white-space: nowrap;
      width: 58px;
  }
  .text-wrapper-10 {
    position: relative; /* Or relative, depending on your layout */
    top: 440px; /* Adjust this value to move the button down */
    left: 91px; /* Adjust this value to align with your layout */
    padding: 10px 15px;
    width: 247px;
    border: none;
    outline: none;
    background-color: #151515;
    color: #eee;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.25s ease-out;
  }
  .text-wrapper-10:hover {
    transform: translateY(-3px);
  }
  .sign-up .text-wrapper-9 {
    color: #585858;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 310px;
    white-space: nowrap;
    width: 58px;
  }
  .sign-up .text-wrapper-8 {
    color: #585858;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 91px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 375px;
    white-space: nowrap;
    width: 58px;
  }
  .button-span {
    color: #aaa;
  }
  .sign-up .overlap-2 {
    height: 40px;
    left: 114px;
    position: absolute;
    top: 421px;
    width: 198px; 
    text-align: center;
  }
  
  .sign-up .group {
    height: 41px;
    left: 7px;
    position: absolute;
    top: 7px;
    width: 109px;
  }
  
  .sign-up .fnamefield {
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    border: 1px solid;
    border-color: #585858;
    border-radius: 5px;
    height: 32px;
    left: 90px;
    position: absolute;
    top: 200px;
    width: 247px;
    padding: 0 10px;
    
  }
  .sign-up .lnamefield {
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    border: 1px solid;
    border-color: #585858;
    border-radius: 5px;
    height: 32px;
    left: 90px;
    position: absolute;
    top: 265px;
    width: 247px;
    padding: 0 10px;
  }
  .sign-up .emailfield {
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    border: 1px solid;
    border-color: #585858;
    border-radius: 5px;
    height: 32px;
    left: 90px;
    position: absolute;
    top: 265px;
    width: 247px;
    padding: 0 10px;
  }
  .sign-up .passwordfield {
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    border: 1px solid;
    border-color: #585858;
    border-radius: 5px;
    height: 32px;
    left: 90px;
    position: absolute;
    top: 330px;
    width: 247px;
    padding: 0 10px;
  }
  .sign-up .deptfield {
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 12px;
    border: 1px solid;
    border-color: #585858;
    border-radius: 5px;
    height: 28px;
    left: 90px;
    position: absolute;
    top: 396px;
    width: 60px;
    padding: 0 10px;
  }
  .sign-in .group {
  height: 41px;
  left: 7px;
  position: absolute;
  top: 7px;
  width: 109px;  
  }
  
  .sign-up .img {
    height: 545px;
    left: 425px;
    position: absolute;
    top: 0;
    width: 424px;
  }